{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block content %}
  <div class="auth-container">
    <form action="" method="post" class="form-container" id="signup" autocomplete="off">
      {% csrf_token %}
      <h2 class="title">Sign Up</h2>

      <p class="inline-note">
        Already have an account?
        <a href="{% url 'login' %}" class="inline-note-link">Log in</a>
      </p>

      <table>
        {% for field in form %}
          <tr>
            <th class="label-title">{{ field.label_tag }}</th>
            <td>
              {{ field }}
              {% if field.help_text %}
                <div class="tip-box">
                  <div class="tip-body">{{ field.help_text|safe }}</div>
                </div>
              {% endif %}
              {% for err in field.errors %}
                <div class="errormessage">{{ err }}</div>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>

      {% if form.non_field_errors %}
        <div class="errormessage">
          {% for err in form.non_field_errors %}
            <p>{{ err }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <button type="submit">Create Account</button>
    </form>
  </div>
{% endblock %}
