{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
<div class="page-header"><h1>Sign Up</h1></div>

{# Non-field errors (e.g., password mismatch) #}
{% if form.non_field_errors %}
  <div class="red-text">
    {% for err in form.non_field_errors %}
      <p>{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}

<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}

  {# Field-by-field rendering to guarantee errors show #}
  <table>
    {% for field in form %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field }}
          {% if field.help_text %}<small>{{ field.help_text }}</small>{% endif %}
          {% for err in field.errors %}
            <div class="red-text">{{ err }}</div>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}
