
* {
    font-family: 'Cairo', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B993D6;
}

.container {
    width: 80%;
    max-width: 700px;
    justify-content: space-between;
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to right, #B993D6, #8CA6DB);
}

form {
    flex-basis: 40%;
    max-width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 18px;
    text-align: center;
}

    form > div {
        display: flex;
        margin-bottom: 30px;
        box-shadow: 0 4px 4px #d3cfcf;
        border-radius: 10px;
        overflow: hidden;
    }


#login input {
    flex: 4;
    font-size: 15px;
    height: 25px;
    outline: none;
    padding: 8px;
    border: none;
}


h2 {
    text-align: center;
    font-weight: 300;
}

button {
    font-size: 15px;
    width: 70%;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
    background: linear-gradient(to right, #B993D6, #8CA6DB);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all;
}

    button:hover {
        background: linear-gradient(to right, #231e27, #8CA6DB);
    }

/*  */
.welcome_img {
    /* background: white; */
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    background-image: url("../images/side1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.errormessage{

     color: red;
     font-size: large;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        margin: 0;
        padding-top: 15px;
         border: #231e27 2px solid;
    }

    form {
        margin: 0;
        padding: 20px;
        max-width: unset;
        background-image: url("../images/side1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
    }

    .errormessage{
     color: red;
     font-size: large;
}
}
